.reg{
    margin-left:33%;
    margin-right:45%;
    font-size: 17px;
}
.reg_pole{
border: solid rgb(41, 8, 41);
background-color:rgba(75, 18, 75, 0.452);
color: rgb(27, 5, 39);
width: 300px;
height: 200px;
position: absolute;
top: 45%;
left: 45%;
text-align: right;
margin: -125px 0 0 -125px;
padding-top: 10px;
padding-right: 5px;
}
.reg_pole1{
    border: solid rgb(41, 8, 41);
    background-color:rgba(75, 18, 75, 0.452);
    color: rgb(27, 5, 39);
    width: 270px;
    height: 280px;
    position: absolute;
    top: 45%;
    left: 45%;
    margin: -125px 0 0 -125px;
    text-align:right;
    padding-top: 10px;
    padding-right: 5px;
    }
.fon{
    width: 100%;
    height: 90%;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(214, 175, 250);
    font-family:"comic sans ms"; 
}
.teta{
    color: aliceblue;color: aliceblue;
    text-align: left;
}
.tetat{
    color: aliceblue;
    text-align: right;
}
.pole{
background-color: rgb(213, 248, 236);
border-radius:5px;
font-family:"comic sans ms";
width: 160px;
}
.pole2{
    background-color: rgb(213, 248, 236);
    border-radius:5px;
    font-family:"comic sans ms";
    width: 140px;
    }
.tetatet{
font-size: small;
}
.sbros{
width: 100px;
background-color: rgb(223, 247, 239);
border-radius:5px;
font-family:"comic sans ms";
}
div{
    text-align: right;
    width: 140px;
}